
 <div id="nav-bar" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">          
      <div class="brand">
        <h2>
            <button class="win-command2" ng-click="back()">
                  <span class="win-commandimage2 win-commandring">&#xe05d;</span>
            </button>
            <b>Pengaturan</b>
        </h2>
    </div>
    </div>
  </div>
</div>
<div jofade>
    <ng-include src="'partial/pesan.html'"></ng-include>
   
   
    <div class="span4"></div>
    <div class="onoffswitch">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </label>
    </div>
   
</div>
